@import url(https://fonts.googleapis.com/css?family=Lilita+One);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --neon-pink: #FF61BE;
  --white: #ffffff;
  --black: #000000;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  scroll-padding-top: 60px;

  }


.font-Josefin{
  font-family: "Josefin Sans", sans-serif;
}

.topic {
  text-shadow: 1px 1px 2px rgba(138, 138, 138, 0.8);
  font-family: "Josefin Sans", sans-serif;
  font-size: 5.50rem;
  margin-bottom: 4rem;

}

.border-pink {
  border-left: 5px solid var(--neon-pink);
  padding-left: 1.875rem;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


p {
  font-family: "Sarabun", sans-serif;
  font-size: 1.25rem;
}


section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}



/* Navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myBtn {

  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;

  height: 60px;
  width: 60px;

  z-index: 999;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;

  padding: 10px 20px;
  background-color: rgba(138, 138, 138, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100%;

  transition: background-color 0.3s;

}

#myBtn:hover {
  background-color: var(--neon-pink);
}

.navbar {
  background-color: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.3s, background-color 0.3s, backdrop-filter 0.3s, color 0.3s;
}
.navbar-brand, .nav-link, .social-icons a {
  color: #ffffff; 
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-item {
  color: #ffffff;
}
.nav-link {
  font-weight: 500;
  margin-right: 1rem;
  transition: color 0.3s ease;
}
.nav-link:hover, .nav-link.active {
  color: var(--neon-pink);
}
.social-icons a {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: var(--neon-pink);
}


/* First page */
.firstpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  color: var(--white);
  position: relative;
  background-image: url('pic-woman.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}


.firstpage h1.welcome {
  font-size: 8vw;
  margin: 0;
  padding-left: 2vw;
  padding-bottom: 1vw;
  text-transform: uppercase;
}


.firstpage .content {
  z-index: 1;
}

.firstpage .scroll {
  font-size: 1vw;
}

.marquee {
  position: relative;
  width: 100vw;
  height: 3vh;
  overflow-x: hidden;
  background-color: rgba(240, 240, 240, 0.2);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}



/* aboutme */
.text-shadow {
  text-shadow: 1px 1px 2px rgba(138, 138, 138, 0.8);
}

.border-pink {
  border-left: 5px solid #FF61BE;
  padding-left: 1.875rem;
}

.desabout span {
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.desabout span.active {
  opacity: 1;
}


/* breake */
.brake{
  height: 100px;
  background-color: #000000;
}

/* education */
.education-image {
  border-radius: 50%; 
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  margin-bottom: 15px;
}

.edu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 10px;
  min-height: 300px; 
}

.edu-card h3 {
  margin: 10px 0;
}

/* showcase */
.highlight{
  background-color: #000;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}



/* new skill */

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  gap: 10px; 
  width: 100%;
  margin-bottom: 10px;
}

.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; 
}

.item {
  display: flex;
  align-items: center;
}
.logo-skill{
  border-radius: 3px;
}


.item svg {
  margin-right: 10px;
}

.logo-pink {
  background-color:#FF61BE;
}
.logo-black{
  background-color:#ff34aa;
}

.logo-skill-wrapper {
  position: relative;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
.number-label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 2.25rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.font-Fira{
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
}

.logo-skill-wrapper:hover{
  transform: scale(0.9);

}


/* project */

.box {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.category {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--neon-pink);
  display: inline-flex;
  text-align: center;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  color: var(--white);
  font-weight: bold;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: opacity 0.5s ease;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  backface-visibility: hidden;
  border-radius: 8px;
}

.middle {
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.box:hover .category {
  opacity: 0;
}

.box:hover .image {
  opacity: 0.2;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  font-size: 1.25rem;
  font-family: "Sarabun", sans-serif;
  color: black;
  text-align: center;
}

.text strong {
  font-size: 1.5rem;
  font-family: "Sarabun", sans-serif;
}



/* contact */
.wave {
  overflow: hidden;
  position: relative;
  height: 100px;
  padding: 0;
}

.wave:after {
  content: "";
  position: absolute;
  will-change: transform;
  left: 0;
  top: 0;
  bottom: 0;
  right: -300vw;
  background: black;
  --mask: radial-gradient(75.15px at 50% 101.5px, #000 99%, #0000 101%) calc(50% - 70px) 0/140px 100%,
    radial-gradient(75.15px at 50% -66.5px, #0000 99%, #000 101%) 50% 35px/140px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  animation: wave 250s linear infinite alternate;
}

@keyframes wave {
  100% {
    transform: translate3d(-300vw, 0, 0px);
  }
}

.section5 {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.social-icons-btn {
  display: flex;
}

.icons svg {
  fill: black;
}

.icons {
  width: 80px;
  height: 80px;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition:
    all 0.15s ease;
}

.icons:hover {
  background: var(--neon-pink);
  transform: scale(1.1);
}

.last-contact{
  margin-bottom: 0;
}


@media (max-width: 768px) {
  .menu-bar .group:nth-child(2) {
    display: none;
  }
  .icons {
    width: 60px;
    height: 60px;
    font-size: 2rem;
  }

  .text {
    font-size: 0.5rem;

  }

  .text strong {
    font-size: 1.1rem;

  }

.highlight-text p{
  margin-top: 20px;
}
}


@media (max-width: 480px) {
  .topic {
    text-shadow: 1px 1px 2px rgba(138, 138, 138, 0.8);
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    margin-bottom: 4rem;

  }
  .category {
    font-size: 1rem;
  }


  .icons {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }

  .social-icons-btn {
    flex-direction: column;
    align-items: center;
  }

  .icons {
    margin: 10px 0;
  }
  .highlight-text p{
    margin-top: 50px;
  }

}