:root {
    --neon-pink: #FFDEF3;
    --pink: #FF61BE;
    --blue: #3B55CE;
    --dark: #35212A;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* navbar */
header {
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:transparent;
    border: bottom 30px; ;
    
}

.navbar-nav .nav-link {
    position: relative;
    color: white;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 4px;
    /* background-image: radial-gradient(ellipse, rgba(25, 136, 247, 1) 0%, rgba(24, 191, 247, 1) 100%); */
    background-color: var(--pink);
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}


/* firstpage */
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.firstpage {
    
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2vw;
    overflow: hidden; 
}

.firstpage h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 8vw;
}

.firstpage span{
    font-family: "Kanit", sans-serif;
    font-size: 2vw;
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.aboutme{
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100vh;
    display: inline-block;

    padding: 0 20px;
    overflow: hidden; 
}